html {
    font-family: 'Roboto';
	font-size: 16px;
	line-height: auto;
	color: #404040;
	background-color: #f0f0f0;
	background-image: url(../images/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-overflow-scrolling: touch;
}

body {
	margin: 0px;
	height: 100vh;
}

h1, h2, h3, h4, h5, h6 { margin: 0px; }

a {
	color: #29B6F6;
	text-decoration: none;
}

.container {
	position: relative;
	height: 100%;
	width: 100%;
}

.paper {
	background-color: #fff;
	width: 952px;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.paper .top {
	background-color: #29B6F6;
	background-image: url(../images/bgh.png), linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	background-size: 100% 320px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: 300px;
}

.paper .top:after,
.clear:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.clear {
	float: left;
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
	height: 1px;
}

.paper .top > div,
.paper .left {
	float: left;
}

.paper .top .photo {
	background-color: #404040;
	background-image: url(../images/me.jpg);
	background-size: 300px;
	background-position: center -60px;
	background-repeat: no-repeat;
	width: 280px;
	height: 280px;
	border: 2px solid #ffffff;
	margin-right: 48px;
	margin-left: 48px;
	margin-top: 48px;
	margin-bottom: -32px;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
}

.paper .top .headings {
	width: calc(100% - 428px);
	text-align: center;
	margin-top: 135px;
	margin-bottom: -24px;
	color: #ffffff;
}

.paper .top .headings h1 {
	font-size: 54px;
	line-height: 63px;
	margin-bottom: 8px;
	font-weight: bold;
}

.paper .top .headings .marquee {
	height: 28px;
	margin-bottom: 48px;
	padding-left: 200px;
	position: relative;
}

.paper .top .icons {
	text-align: center;
	position: relative;
	z-index: 1;
}

.paper .top .icons a {
	display: inline-block;
	height: 36px;
	width: 36px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
	border-radius:36px;
	font-size: 16px;
	line-height: 36px;
	margin: 0px 4px;
	transition: all 0.5s ease-in-out;
}

.paper .top .icons a:hover {
	transform: translateY(-9px) scale(1.25, 1.25);
	box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.paper .top .icons a:hover i{
	transition: all 0.5s ease-in-out;
}

.paper .top .icons a:hover i{
	transform: rotateY(-360deg) rotate(-360deg);
	color: #ffffff;
}

.paper .top .icons a.linkedin:hover{
	background-color: #0077B5;
}

.paper .top .icons a.github-alt:hover{
	background-color: #24292e;
}

.paper .top .icons a.youtube-play:hover{
	background-color: #ff0000;
}

.paper .top .icons a .fa-linkedin{
	color: #0077B5;
}

.paper .top .icons a .fa-github-alt{
	color: #24292e;
}

.paper .top .icons a .fa-youtube-play{
	color: #ff0000;
}

.paper .bottom {
	height: 280px;
}

.paper .bottom:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

.paper .bottom > div,
.paper .right {
	float: left;
}

.paper .bottom .headings {
	margin-top: 64px;
	margin-left: 32px;
	margin-right: 32px;
	width: 486px;
}

.paper .bottom .headings h3{
	font-size: 21px;
}

.paper .bottom .headings p{
	color: #9E9E9E;
	font-weight: bold;
	line-height: 19px;
	font-size: 16px;
}

.paper .bottom .info{
	width: calc(100% - 578px);
	margin-top: 66px;
}

.paper .bottom .info h4,
.paper .right .info h4{
	margin-bottom: 16px;
}

.paper .bottom .info h4 span,
.paper .right .info h4 span {
	display: inline-block;
}

.paper .bottom .info h4 span:nth-child(1),
.paper .right .info h4 span:nth-child(1) {
	width: 104px;
}

.paper .bottom .info h4 span:nth-child(2),
.paper .right .info h4 span:nth-child(2) {
	color: #9E9E9E;
	font-weight: bold;
	line-height: 19px;
}

.paper .bottom .info h4 a,
.paper .right .info h4 a {
	display: inline-block;
	transition: all 0.5s ease-in-out;
}

.paper .bottom .buttons{
	width: 486px;
	margin-left: 32px;
	margin-top: -43px;
}

.paper .bottom .buttons a{
	background-color: #ffffff;
	border:none;
	padding: 16px 24px;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
	font-weight: bold;
	font-size: 16px;
	transition: all 0.5s ease-in-out;
	display: inline-block;
	text-align: center;
}

.paper .left {
	margin: 16px 32px;
	width: calc(50% - 64px);
	height: 300px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.paper .left.crop{
	height: 260px;
	width: calc(48% - 64px);
	margin: 36px calc(1% + 32px);
}

.paper .right {
	display: inline-block;
	width: calc(50% - 16px);
	margin-top: 90px;
	height: 100px;
	margin-right: 16px;
}

.paper .right h5{
	font-size: 21px;
	margin-bottom: 15px;
}

.separator{
	background-image: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	font-size: 16px;
	color: #fff;
	padding: 16px 0px;
	height: auto;
	border-radius: 50px;
	margin:auto auto;
	margin-top: 24px;
	width: 280px;
	text-align: center;
	font-weight: bold;
}

@media (min-width: 577px) {
	.paper .right.free {
		margin-top: 115px;
	}
}

@media (min-width: 953px) {
	.paper {
		margin: auto;
		margin-bottom: 16px;
		margin-top: 16px;
	}

	/* hover animation */
	.paper .bottom .info h4 a:hover,
	.paper .right .info h4 a:hover {
		margin : -16px;
		transform: translateY(-9px);
		box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
		background-color: #29B6F6;
		color: #fff;
		border-radius: 50px;
		padding: 16px;
	}
}

/* h2 marque */

h2{
	position: absolute;
	left: 0;
	width: 100%;
	font-size: 24px;
	line-height: 28px;
}

h2:nth-child(1) {
	animation: marquee1st 10s ease-in-out infinite alternate;
}

h2:nth-child(2) {
	animation: marquee2nd 10s ease-in-out infinite alternate;
}

h2:nth-child(3) {
	animation: marquee3rd 10s ease-in-out infinite alternate;
}

@keyframes marquee1st {
	/* 1st */
	0% {
		opacity : 1;
	}
	15% {
		opacity : 1;
		transform: translateX(0px) translateY(0px) rotate(0deg) rotateX(0deg) scale(1, 1);
	}

	/* 2nd */
	35% {
		opacity : 0;
		transform: translateX(-60px) translateY(60px) rotate(-270deg) rotateX(-180deg) scale(0, 0);
	}
	65% {
		opacity : 0;
	}

	/* 3rd */
	85% {
		opacity : 0;
	}
	100% {
		opacity : 0;
	}
}

@keyframes marquee2nd {
	/* 1st */
	0% {
		opacity : 0;
	}
	15% {
		opacity : 0;
		transform: translateX(60px) translateY(60px) rotate(270deg) rotateX(180deg) scale(0, 0);
	}

	/* 2nd */
	35% {
		opacity : 1;
		transform: translateX(0px) translateY(0px) rotate(0deg) rotateX(0deg) scale(1, 1);
	}
	65% {
		opacity : 1;
		transform: translateX(0px) translateY(0px) rotate(0deg) rotateX(0deg) scale(1, 1);
	}

	/* 3rd */
	85% {
		opacity : 0;
		transform: translateX(-60px) translateY(60px) rotate(-270deg) rotateX(-180deg) scale(0, 0);
	}
	100% {
		opacity : 0;
	}
}
@keyframes marquee3rd {
	/* 1st */
	0% {
		opacity : 0;
	}
	15% {
		opacity : 0;
	}

	/* 2nd */
	35% {
		opacity : 0;
	}
	65% {
		opacity : 0;
		transform: translateX(60px) translateY(60px) rotate(270deg) rotateX(180deg) scale(0, 0);
	}

	/* 3rd */
	85% {
		opacity : 1;
		transform: translateX(0px) translateY(0px) rotate(0deg) rotateX(0deg) scale(1, 1);
	}
	100% {
		opacity : 1;
	}
}

/* responsive */

@media (max-width: 952px) {
    .paper {
        width: 100%;
		border-radius: 0;
		box-shadow: none;
    }

	.paper .top > div,
	.paper .bottom > div {
		float: none;
	}

	.paper .top {
		display: inline-block;
		width: 100%;
		background-size: 100% 100%;
		height: auto;
	}

	.paper .top .photo {
		margin-bottom: 0px;
		margin-right: auto;
		margin-left: auto;
		border-radius: 500px;
	}

	.paper .top .headings {
		width: calc(100% - 32px);
		margin: 32px 16px;
		margin-bottom: -16px;
	}

	.paper .bottom {
		height: auto;
	}

	.paper .bottom .headings {
		width: calc(100% - 32px);
		margin: 32px 16px;
	}

	.paper .bottom .info {
		width: calc(100% - 32px);
		margin: 32px 16px;
	}

	.paper .bottom .buttons {
		width: calc(100% - 32px);
		margin: 32px 16px;
	}

	.paper .bottom .buttons a{
		width: calc(100% - 48px);
		margin: 16px 0px;
		background-color: #29B6F6;
		color: #fff;
		transition: none !important;
		border-radius: 50px;
	}

	.separator{
		width: 100%;
		margin: 0;
		border-radius:0px;
	}
}

@media (max-width: 576px) {
	.paper .left,
	.paper .left.crop,
	.paper .right {
		width: calc(100% - 32px);
	}

	.paper .left,
	.paper .left.crop {
		margin: 16px;
		height: 300px;
	}

	.paper .right {
		margin: 0px 16px;
		margin-bottom: 32px;
		height: auto;
	}
}
